/*body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}*/

.LtoR-white:after{
    transition: all .5s ease;
    content: "";
    display: block;
    height: 1px;
    width: 0;
    background-color: #fff;
}

.LtoR-white:hover:after {
    width: 100%;
}